<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanyi.hikari.dao.UserDao">

    <!-- 根据条件查询用户信息 -->
    <select id="findUserByCondition" parameterType="com.hanyi.hikari.request.UserQueryPageParam"
            resultType="com.hanyi.hikari.pojo.UserEntity">
        select a.* from tb_user a left join tb_user_info b on a.id_card=b.id_card
        <where>
            <if test="userName != null and userName != ''">
                a.user_name like concat('%',#{userName},'%')
            </if>
            <if test="beginAge != null and beginAge != ''">
                and a.birthday &gt;= #{beginAge}
            </if>
            <if test="endAge != null and endAge != ''">
                and a.birthday &lt;= #{endAge}
            </if>
            <if test="infoCodeList != null and infoCodeList.size > 0 ">
                and b.info_code in
                <foreach collection="infoCodeList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据条件统计用户信息 -->
    <select id="countUserByCondition" parameterType="com.hanyi.hikari.request.UserQueryPageParam" resultType="java.lang.Long">
        select count(*) from tb_user a left join tb_user_info b on a.id_card=b.id_card
        <where>
            <if test="userName != null and userName != ''">
                a.user_name like concat('%',#{userName},'%')
            </if>
            <if test="beginAge != null and beginAge != ''">
                and a.birthday &gt;= #{beginAge}
            </if>
            <if test="endAge != null and endAge != ''">
                and a.birthday &lt;= #{endAge}
            </if>
            <if test="infoCodeList != null and infoCodeList.size > 0 ">
                and b.info_code in
                <foreach collection="infoCodeList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>