<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanyi.hikari.dao.UserDao">

    <!-- 根据条件查询用户信息 -->
    <select id="findUserByCondition" parameterType="com.hanyi.hikari.request.UserQueryPageParam"
            resultType="com.hanyi.hikari.pojo.UserEntity">
        select a.* from tb_user a left join tb_user_info b on a.id_card=b.id_card
        <where>
            <if test="userName != null and userName != ''">
                a.user_name like concat('%',#{userName},'%')
            </if>
            <if test="beginAge != null and beginAge != ''">
                and a.birthday &gt;= #{beginAge}
            </if>
            <if test="endAge != null and endAge != ''">
                and a.birthday &lt;= #{endAge}
            </if>
            <if test="infoCodeList != null and infoCodeList.size > 0 ">
                and b.info_code in
                <foreach collection="infoCodeList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 根据条件统计用户信息 -->
    <select id="countUserByCondition" parameterType="com.hanyi.hikari.request.UserQueryPageParam"
            resultType="java.lang.Long">
        select count(*) from tb_user a left join tb_user_info b on a.id_card=b.id_card
        <where>
            <if test="userName != null and userName != ''">
                a.user_name like concat('%',#{userName},'%')
            </if>
            <if test="beginAge != null and beginAge != ''">
                and a.birthday &gt;= #{beginAge}
            </if>
            <if test="endAge != null and endAge != ''">
                and a.birthday &lt;= #{endAge}
            </if>
            <if test="infoCodeList != null and infoCodeList.size > 0 ">
                and b.info_code in
                <foreach collection="infoCodeList" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据版本号查询用户集合 -->
    <select id="findUserByExist" resultType="com.hanyi.hikari.pojo.UserEntity">
        select * from tb_user a where exists
        (select version from tb_user b where b.version &gt;= #{version} and a.id=b.id)
    </select>

    <!-- 根据版本号和用户名进行or查询 -->
    <select id="findUserByUnion" resultType="com.hanyi.hikari.pojo.UserEntity">
        select * from tb_user where version=#{version}
            union
        select * from tb_user where user_name like concat('%',#{userName},'%')
    </select>

    <!--  -->
    <select id="findUerByUnionAll" resultType="com.hanyi.hikari.pojo.UserEntity">
        select * from tb_user where version=#{version}
            union all
        select * from tb_user where user_name like concat('%',#{userName},'%')
    </select>

</mapper>