<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanyi.daily.mapper.one.PrimaryUserMapper">



    <select id="findAll" resultType="com.hanyi.daily.pojo.User">
        select user_id as userId , user_name as userName , user_age as userAge from sys_user;
    </select>

</mapper>