<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanyi.daily.mapper.one.TimeInfoMapper">

    <!-- 新增时间数据 -->
    <insert id="insert">
        insert into sys_time
            (id,format_name,time_extent,create_time)
        values
            (#{id},#{formatName},#{timeExtent},#{createTime})
    </insert>

    <!-- 查询全部 -->
    <select id="findAll" resultType="com.hanyi.daily.pojo.TimeInfo">
        select * from sys_time
    </select>

    <!-- 根据id查询时间对象 -->
    <select id="findById" resultType="com.hanyi.daily.pojo.TimeInfo">
        select * from sys_time where id=#{id}
    </select>

</mapper>

