<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="../../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/grammar/eventOn.js"></script>
    <title>绑定事件</title>

</head>

<body>

<input type="button" id="b1" value="点击"/>
<hr/>
<div style="border: 1px solid black; width: 200px; height: 200px;">
    div
</div>
<hr/>

<input type="button" id="b2" value="解绑" onclick="jiechu()"/>
<div id="f" style="border: 1px solid black; width: 200px; height: 200px;">
    <div class="z" style="border: 1px solid black; width: 100px; height: 60px;">

    </div>

    <div class="z" style="border: 1px solid black; width: 100px; height: 60px;">

    </div>
    <div class="z" style="border: 1px solid black; width: 100px; height: 60px;">

    </div>
</div>

</body>

</html>